.add-invoice-dialog-container {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #a1bca3;
}

.add-invoice-dialog-main {
  margin-left: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.add-invoice-dialog-form input[type="text"],
.add-invoice-dialog-form input[type="number"],
.add-invoice-dialog-form input[type="date"],
.add-invoice-dialog-form button {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-invoice-dialog-table {
  border-collapse: collapse;
  border: 1px solid red;
}

.add-invoice-dialog-table th,
.add-invoice-dialog-table td {
  border: 2px solid #627254;
  text-align: center;
  background-color: #EEEEEE;
}

.add-invoice-dialog-addproduct {
  background-color: #3D3B40;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  border-radius: 0.7rem;
  outline: none;
  font-size: 1.06rem;
}

.add-invoice-dialog-addproduct:hover {
  background-color: #0056b3;
}

.add-invoice-dialog-form input[type="submit"] {
  background-color: #9B4444;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.add-invoice-dialog-form input[type="submit"]:hover {
  transform: scale(1.04);
}

.bill-amount {
  display: flex;
   flex-direction: row; 
   justify-content: flex-end; 
}

.billamt-div {
  background-color: #EEEEEE;
  border-radius: 3px;
  font-weight: 700;
  color: #495E57;
}
