/* sales.css */

.sales-section {
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(122,135,113,1) 0%, rgba(118,136,91,1) 29%, rgba(98,114,84,1) 53%, rgba(118,136,91,1) 75%, rgba(122,135,113,1) 100%);
}

.total-sales{
    background-color: #124076;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    color: wheat;
    font-weight:bolder;
    font-size: 1.1rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

.sales-table-container {
    overflow-x: auto;
    padding: 20px;
}

.sales-table {
    width: 100%;
    border-radius: 0.5rem;
}

.sales-table th, .sales-table td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
    font-size: 1.05rem;
    font-weight: bold;
}

.sales-table th {
    background-color: #DDDDDD;
}

.sales-table tr:hover {
    background-color: #5b694e;
}
